{% extends 'layout.html.twig' %}

{% block title %}Contrat - Factu{% endblock %}

{% block page_title %}Fiche contrat{% endblock %}

{% block content %}
<div class="bg-white rounded-lg shadow p-6">
    <p class="text-gray-500">Fiche contrat #{{ id }}</p>
</div>
{% endblock %}
